body {
  margin: 0;
  padding: 0;
  /* background-color: #69615e;*/
  /* background-color: #8a7e66; */
  /* background-color: #69615e; //gray concrete */

  /* background-color: #fffdd0; */
  background-color: #fffdd0 !important;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */
.hotpink {
  color: hotpink;
}

.error {
  color: hotpink;
  padding: 1em;
  border: yellowgreen 1px dashed;
  font-size: 1em !important;
  background-color: rgba(153, 205, 50, 0.199);
}

.material-symbols-outlined,
.playwrite {
  color: #ff69b4;
}

.playwrite {
  font-family: "Playwrite ES Deco", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-shadow: 0.15em 0.15em 0.2em hotpink !important;
  /*  */
}

.cabeza {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em 3em;
  background-color: rgba(255, 105, 180, 0.233);
  box-shadow: 0.5em 0.5em 3em rgba(255, 105, 180, 0.603) !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 350, "GRAD" 0, "opsz" 24;
  font-size: 2em;
  text-shadow: 0.1em 0.1em 0.2em #ff69b4 !important;
  padding: 0em 1em;
}

.cuerpo {
  padding: 5em 3em;
}

.navbar-nav {
  display: flex !important;
  justify-content: center !important;
  width: 100%;
}

.active {
  color: hotpink !important;
}

nav {
  padding: 0em 2em !important;
}

.nav-item {
  padding: 0.5em !important;
}

.nav-link:hover {
  color: hotpink !important;
  text-shadow: 0.2em 0.2em 0.3em hotpink;
  margin-top: -0.2em;
}

.contenedor {
  display: flex;
  justify-content: space-around;
}

.centro {
  display: flex;
  justify-content: center;
}

.login,
.register {
  /* border: hotpink 1px solid; */
  padding: 2em 0em;
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 0.3em;
  background-color: rgba(255, 105, 180, 0.158);
  border: 1px solid white !important;
}

.login > p,
.register > p {
  font-size: 1.25em;
}

.legend {
  padding: 0em 2em 2em 2em;
}

.register > *,
.login > * {
  width: 50%;
  margin: auto !important;
  text-align: center;
}

input {
  background-color: #fffdd088 !important;
}
.btn {
  margin-top: 2em;
}
input,
.btn {
  border: 1px solid whitesmoke !important;
}

.btn-primary {
  background-color: #ff69b4 !important;
  color: #fffdd0 !important;
}

.space {
  padding: 0.5em;
}

.all-books {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
}

.all-books > li {
  flex: 1 0 22%;
  /* max-height: 30px;*/
  margin: 1em;
  padding: 2em;
  border: 1px solid white;
  border-radius: 2px;
  overflow: auto;
  background-color: rgba(245, 245, 245, 0.5);
}

.all-books > li > img {
  max-width: 300px;
}
