body {
  margin: 0;
  padding: 0;
  /* background-color: #69615e;*/
  /* background-color: #8a7e66; */
  /* background-color: #69615e; //gray concrete */

  /* background-color: #fffdd0; */
  background-color: #fffdd0 !important;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */
.hotpink {
  color: hotpink;
}

.material-symbols-outlined,
.capriola-regular {
  color: #ff69b4;
}

.capriola-regular {
  font-family: "Capriola", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0.15em 0.15em 0.2em hotpink !important;
  /*  */
}

.cabeza {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 3em 3em 2em 3em;
  background-color: rgba(255, 105, 180, 0.274);
  box-shadow: 0.5em 0.5em 3em hotpink !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 3.5em;
  text-shadow: 0.1em 0.1em 0.1em #ff69b4 !important;
}

.cuerpo {
  padding: 5em 3em;
}
